.header {
  display:flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  gap: 41px;
}

.header__logo {
  padding: 0;
  width: 173px;
  height: 33px;
  color: #ffffff;
}

.header__line {
  margin: auto;
  padding: 0;
  opacity: 0.9;
  max-width: 880px;
  width: 880px;
}



@media screen and (max-width: 880px){
.header{
 margin-top: 28px;
 max-width: 100%;
 width: 320px;
}

.header__logo {
  max-width: 126px;
  margin-left: 27px;
}

.header__line {
  max-width: 100%;
  width: 280px;
}
}
